* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}

:root {
  --altura-header: 80px;
  --altura-footer: 45px;
}

html,
body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

main {
  min-height: calc(100% - (var(--altura-header) + var(--altura-footer)));
  background-image: url("./assets/images/fondo2.jpg");
  background-repeat: cover;
  background-size: 200%;
  background-position: -800px;
  /* background-color: #15202B; */
  /* background-color: #111111; */
}

header {
  background-color: rgb(87, 87, 84);
  height: var(--altura-header);
  display: flex;
  position: sticky;
  font-size: 25px;
  justify-content: center;
  top: 0;
  z-index: 9999;
}

nav {
  display: flex;
  align-items: center;
  width: 70%;
}

nav a {
  all: unset;

  flex: 1;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  align-self: stretch;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(87, 87, 84);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  background-color: #121618;
  color: tomato;
}

nav a::after {
  position: absolute;
  content: "";
  height: 5px;
  bottom: 13px;
  background-color: tomato;

  left: 20%;
  width: 0;
  transition: 0.5s ease-in;
}

nav a:hover::after {
  width: 60%;
}

.pag-activa {
  background-color: tomato;
  pointer-events: none;
}

.copyright {
  color: white;
  font-size: 14px;
  text-align: center;
}

footer {
  height: var(--altura-footer);
  background-color: #8f8c8c;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contenedor-logos {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
  border-radius: 30px;
}

@media screen and (max-width: 1000px) {
  :root {
    --altura-header: 65px;
  }

  header {
    font-size: 22px;
  }

  nav {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --altura-header: 50px;
    --altura-footer: 50px;
  }

  .copyright {
    font-size: 12px;
    text-align: left;
  }

  .logo {
    width: 20px;
    height: 20px;
    border-radius: 30px;
  }

  .contenedor-logos {
    justify-content: center;
    gap: 3px;
  }

  header {
    font-size: 16px;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }

  nav {
    width: 100%;
  }
}

@media screen and (max-width: 355px) {
  :root {
    --altura-footer: 55px;
  }

  header {
    font-size: 14px;
  }

  .contenedor-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
