* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color:  rgb(87, 87, 84);
    height: 80px;
    display: flex;
    position: sticky;
    font-size: 25px;
    justify-content: center;
    top: 0;
    z-index: 9999;
}

nav {
    display: flex;
    align-items: center;
    width: 70%;
}

nav a {
    all: unset;

    flex: 1;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    align-self: stretch;
    color: white;
    background-color: rgb(87, 87, 84);

    display:flex;
    align-items:center;
    justify-content:center;
}

nav a:hover {
    background-color: #121618;
}

.pag-activa {
    background-color: tomato;
    pointer-events: none;
}

.copyright {
    color: grey;
    text-align: center;
}

footer {
    height: 45px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenedor-logos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
    border-radius: 30px;
}

@media screen and (max-width: 1000px) {

    header {
        font-size: 22px;
        height: 65px;
    }

    nav {
        width: 80%;
    }
    
}

@media screen and (max-width: 650px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    .copyright {
        font-size: 12px;
        text-align: left;
    }

    .logo {
        width: 20px;
        height: 20px;
        border-radius: 30px;
    }

    .contenedor-logos {
        justify-content: center;
        gap: 3px;
    }

    header {
        font-size: 16px;
        height: 50px;
    }

    nav {
        width: 100%;
    }
    
}

@media screen and (max-width: 350px) {

    header {
        font-size: 14px;
    }
    
    footer {
        height: 55px;
    }

    .contenedor-copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}